﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="~/Content/main.css" rel="stylesheet" />
</head>
<body>
    <div class ="main">
        <div class="head"></div>

        <div class="menu">
            <div class="container" id="main" role="main">
                <ul class="menu">
                    <li><a href="http://localhost:6527/">TRANG CHỦ</a></li>
                    <li>
                        <a href="~/Default/Review">REVIEW</a>
                    </li>
                    <li class="active">
                        <a href="~/Default/TinTuc">TIN TỨC ẨM THỰC</a>
                    </li>
                    
                    <li>
                        <a href="~/Default/FORUM">FORUM</a>
                       
                    </li>
                    <li class="active">
                        <a href="~/Default/KhuyenMai">KHUYẾN MÃI</a>
                    </li>
                    <li>
                        <a href="~/Default/QuangCao">QUẢNG CÁO</a>

                    </li>
                    <li>
                        <a href="~/Default/GioiThieu">GIỚI THIỆU</a>

                    </li>
                   
                </ul>
            </div>
    </div>
        <div class="content">
            <div class="content-left">
                @RenderBody()
            </div>
            <div class="content_right"></div>
        </div>
        <div class="content-bottom"></div> 
    </div>
</body>
</html>
