﻿body                { background: #3bb471; padding: 0;margin: 0; font-family: Arial,Verdana; font-size: 25px}
.main               { width: 1400px; padding: 0 1px; background: #fff ; min-height: 450px; margin : 0 auto}
.head               { height: 80px; background: url(images/head.png) ; width: 1400px; padding: 0}
.menu               { height: 30px; background: #272727; width:1335px; padding: 0; margin:0}
.content            { width: 1400px; min-height: 1300px; background: #ffffff}
.content-left       { float: left; width : 990px; min-height: 1000px; background: #ffffff}
.content-right      { float: right; width: 400px; min-height: 1000px; background: #ffffff}
.content-bottom {
    height: 110px;
    width: 1450px;
    background: url(images/foooter.png);
}
.box {
    width: 1370px;
    height: 750px;
    border: 2px solid #fff
}
.box-1
{
    width: 440px;
    height: 345px;
    border: 2px solid #fff;
    float: left;
    margin: 17px 6px 3px 17px;
    text-align: center
}
.box2 {
    width: 380px;
    height: 710px;
    border: 2px solid #fff;
    float: right;
    margin: 17px 6px 3px 17px
}
.box-image1 {
    width: 440px;
    height: 250px;
    border: 2px solid #fff;
    margin: 0 auto
}
.box-image1 img{
    max-width:440px;
    max-height:250px;
    border: 0px
}
.box-image1 img:hover {
    border: 1px solid #3bb471
}
.box-image1 a {
    color: #272727;
    text-decoration: none
}
.box-image1 a:hover {
    color: red
}
.box-deal
{
    width: 1370px;
    height: 300px;
    border: 2px solid #fff
}
.box-deal-mini
{
    width: 280px;
    height: 280px;
    border: 2px solid #fff;
    float: left;
    margin: 10px 30px 3px 10px;
    text-align: center
}
.box-deal-mini-img
{
    width: 280px;
    height: 250px;
    border: 2px solid #fff;
    margin: 0 auto
}
.box-deal-mini-img img 
{
    max-width:280px;
    max-height:250px;
    border: 0px
}
.box-deal-mini img:hover {
    border: 1px solid #3bb471
}
.box-contents{
     width: 1000px;
    height: 750px;
    border: 2px solid #3bb471;
    margin: 0 auto
}
.box-contents2{
     width: 542px;
    height: 1149px;
    border: 2px solid #3bb471;
    margin: 0 auto
}
.box-contents3
{
    width: 1000px;
    height: 1963px;
    border: 2px solid #3bb471;
    margin: 0 auto
}
.box-forum {
    width: 380px;
    height: 710px;
    border: 5px solid #3bb471;
    float: left;
    margin: 17px 45px 3px 17px
}