﻿@{
    ViewBag.Title = "BV1";
}

<h1>[REVIEW] ĐẾN ĂN TÔ PHỞ 1 TRIỆU TẠI PHỞ HÙNG</h1>
<h3>đăng bởi Annonymous vào lúc 19h45 2014/7/10 </h3>
<div class="box">
    <div class="box-contents">
        <img src="~/images/btv1.png" />
    </div>
</div>
