﻿@{
    ViewBag.Title = "BV2";
}

<h1>[REVIEW] QUÁN BÁNH XÈO MƯỜI XIỀM</h1>
<h3>đăng bởi Annonymous3 vào lúc 10h00 2014/7/18 </h3>
<div class="box">
    <div class="box-contents2">
        <img src="~/images/BV2.png" />
    </div>
</div>
