﻿@{
    ViewBag.Title = "BV3";
}

<h1>Những món ăn sáng cung cấp nhiều năng lượng</h1>
<h3>đăng bởi Annonymous3  17h19 2014/8/23</h3>
<div class="box">
    <div class="box-contents3">
        <img src="~/images/bv3-vert.jpg" />
    </div>
</div>
