﻿@{
    ViewBag.Title = "BV4";
}

<h1>Hướng dẫn làm Cupcake tại nhà</h1>
<h3>đăng bởi Annonymous vào lúc 19h45 2014/7/10 </h3>
<h3></h3>
<h3>Xem video hướng dẫn:</h3>
<div class="box">
    <div class="box-contents">
        <div class="video-play">
            <video src="~/images/cup.mp4" controls preload="auto" />
        </div>
    </div>
</div>
