﻿@{
    ViewBag.Title = "Default";
    Layout = "~/Views/Shared/Default.cshtml";
}
<h3>REVIEW</h3>
<div class="box">
    <div class="box2">
        <img src="images/KFC.png" />
    </div>
        <div class="box-1">
            <div class="box-image1">
             <img src="images/PHO.png" />
            </div>
            <a href="~/Default/BV1" target="_blank">[REVIEW] Đến ăn tô phở 1 triệu tại Phở Hùng</a>
               </div>
    <div class="box-1">
            <div class="box-image1">
                <img src="/images/BANHXEO.png" />
            </div>
        <a href="~/Default/BV2" target="_blank">[REVIEW] Bánh xèo Mười Xiềm - quán ăn nên thử!</a>
    </div>
 
    <h3>TIN TỨC - MẸO VẶT</h3>    
    <div class="box-1">

        <div class="box-image1">
            <img src="/images/COMTAM.png" />
        </div>
        <a href="~/Default/BV3" target="_blank">Những món ăn sáng cung cấp nhiều năng lượng</a>
    </div>
    <div class="box-1">
        <div class="box-image1">
            <img src="/images/CUPCAKE.png" />
        </div>
        <a href="~/Default/BV4" target="_blank">Tự làm cupcake tại nhà.</a>
    </div>
</div>
<h3>DEALS & COMBO</h3>
<div class="box-deal">
    <div class="box-deal-mini">
        <img src="images/KFC1.png" />
    </div>
    <div class="box-deal-mini">
        <img src="images/LOTTE.png" />
    </div>
    <div class="box-deal-mini">
        <img src="images/STAR.png" />
    </div>
    <div class="box-deal-mini">
        <img src="images/mcdonalds.png" />
    </div>
</div>





