﻿@{
    ViewBag.Title = "Forum";
}
<h1>FORUM</h1>
<div class="box">
    <div class="box-forum">
        <a href="" target="_blank">BÀI VIẾT</a>
        <h3>============</h3>
        <a href="~/Default/BV1" target="_blank">[REVIEW] Đến ăn tô phở 1 triệu tại Phở Hùng</a>
        <h3>============</h3>
        <a href="~/Default/BV2" target="_blank">[REVIEW] Bánh xèo Mười Xiềm</a>
        <h3>============</h3>
        <a href="~/Default/BV3" target="_blank">Những món ăn sáng nhiều năng lượng</a>
        <h3>============</h3>
        <a href="~/Default/BV4" target="_blank">Tự làm cupcake tại nhà</a>
    </div>
    <div class="box-forum">
        <a href="" target="_blank">NỘI QUY</a>
    </div>
    <div class="box-forum">
        <a href="" target="_blank">THẮC MẮC - Ý KIẾN</a>
    </div>
</div>