﻿@{
    ViewBag.Title = "GioiThieu";
}

<h2>GioiThieu</h2>
<h3>=================================</h3>
<h3>Tên tác giả: Phạm Bình Trọng</h3>
<h3>ĐH Sư Phạm Kỹ Thuật TP.HCM</h3>
<h3>Đây là trang web chuyên review các quán ăn, nhà hàng và cung cấp thông tin về ẩm thực được cập nhật hàng ngày</h3>
<h3>=================================</h3>
