﻿@{
    ViewBag.Title = "KhuyenMai";
}
<h1>KhuyenMai</h1>
<h3>DEALS & COMBO</h3>
<div class="box-deal">
    <div class="box-deal-mini">
        <img src="~/images/KFC1.png" />
        <a href="" target="_blank">Combo 3 gà + 1 khoai tây + 1 Pepsi chỉ 50.000!</a>
    </div>
    <div class="box-deal-mini">
        <img src="~/images/LOTTE.png" />
        <a href="" target="_blank">Kem sữa tưỡi Úc chỉ 3000/1 cây!</a>
    </div>
    <div class="box-deal-mini">
        <img src="~/images/STAR.png" />
        <a href="" target="_blank">Mừng khai trương, giảm giá 20% tất cá các loại đồ uống</a>
    </div>
   
</div>