﻿@{
    ViewBag.Title = "Review";
}

<h2>Review</h2>
<h3>Nha Hang</h3>
<div class="box">
    <div class="box2">
        <img src="~/images/KFC.png" />
    </div>
    <div class="box-1">
        <div class="box-image1">
            <img src="~/images/PHO.png" />
        </div>
        <a href="~/Default/BV1" target="_blank">[REVIEW] Đến ăn tô phở 1 triệu tại Phở Hùng</a>
    </div>
</div>
<h3>Quan An</h3>
    <div class="box-1">
        <div class="box-image1">
            <img src="/images/BANHXEO.png" />
        </div>
        <a href="~/Default/BV2" target="_blank">[REVIEW] Bánh xèo Mười Xiềm - quán ăn nên thử!</a>
    </div>
