﻿@{
    ViewBag.Title = "TinTuc";
}
<h2>TIN TỨC VÀ MẸO VẶT</h2>
<h3>Tin Tức</h3>
<div class="box">
    <div class="box2">
        <img src="~/images/KFC.png" />
    </div>
    <div class="box-1">
        <div class="box-image1">
            <img src="~/images/COMTAM.png" />
        </div>
        <a href="~/Default/BV3" target="_blank">Những món ăn sáng cung cấp nhiều năng lượng</a>
    </div>
</div>
<h3>Mẹo vặt</h3>
<div class="box-1">
    <div class="box-image1">
        <img src="/images/CUPCAKE.png" />
    </div>
    <a href="~/Default/BV4" target="_blank">Tự làm cupcake tại nhà</a>
</div>
